 body{
   
	background-color:grey;
	color: black;
}

   .ui-widget-header,.ui-state-default, ui-button {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }


#container{
    max-width: 720px;
    padding: 20px;
    margin: auto;
    background-color: darkgrey;
}


#header{
    padding: 28px;
    text-align: center;
}

table{
	width:500px;
	height:500px;
}

#header h1{
    font-family: Inconsolata, monospace;
    line-height: 1em;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}

