 body{
   
	background-color:maroon;
}
#about{
	background-color:yellow;
	padding:20px;
	
}


h1, h2, h3{
	font-weight: 500;
	margin-bottom: 0;
}
h2{
	color: purple;
	background-color: green;
	border-radius: 25px;
	border-left: 2px outset red;
}
p{
	margin: 1em 60px;
	line-height: 1.5em;
}


#container{
    max-width: 720px;
    padding: 20px;
    margin: auto;
	background-color:cyan;
}


#header{
    padding: 28px;
    text-align: center;
}
table{
	width:500px;
	height:500px;
}
#header h1{
    font-family: Inconsolata, monospace;
    line-height: 1em;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}
