 body{
   
	background-color:maroon;
}
#about{
	background-color:yellow;
	padding:20px;
	
}
.navigation_bar {
	background-color:violet;
	padding:0.3px;
	color: #f5b041;
	font-weight: bold;
}
   .ui-widget-header,.ui-state-default, ui-button {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }
#foot{
width:50px;
	height:50px;
}

h1, h2, h3{
	font-weight: 500;
	margin-bottom: 0;
}
h2{
	color: purple;
	background-color: green;
	border-radius: 25px;
	border-left: 2px outset red;
}
p{
	margin: 1em 60px;
	line-height: 1.5em;
}


#container{
    max-width: 720px;
    padding: 20px;
    margin: auto;
	background-color:cyan;
}


#header{
    padding: 28px;
    text-align: center;
}
table{
	width:500px;
	height:500px;
}
#header h1{
    font-family: Inconsolata, monospace;
    line-height: 1em;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}
button#rand_activity{
	background-color:olive;
	color:pink;
	border-radius:10px;
	border-color:orange;
}
button#rand_activity:hover{
	background:black;
	color:white;
	text-content:"DEATH";
	padding:150px;
}
